{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/galleryupload.css' %}">
    <title>gallery upload</title>
</head>
<body>
    <body>
        <h1>welcome</h1>
     
        <form action="{% url 'gallery' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <label for="image">Upload Image:</label>
         <input type="text" name="model" placeholder="Model" required>
         <input type="text" name="todo" placeholder="Name" required>
         <input type="text" name="date" placeholder="Price" required>
         <input type="text" name="quantity" placeholder="Quantity" required>
         <input type="file" name="image" required>
         <button type="submit">Submit</button>
         
     </form>
     
        {% for i in gallery_images %}

        {% if i.feedimage %}
            <img src="{{ i.feedimage.url }}" alt="Gallery Image" width="300">
            
        {% else %}
            <p>No image for this gallery item</p>
        {% endif %}
        <span>{{ i.name }}</span>
        <span>{{ i.model}}</span>
        <span>{{ i.price}}</span>
    
{% empty %}
        <p>No images uploaded yet.</p>
{% endfor %}

     
        <a href="{% url 'adminlogout' %}">logout</a>
</body>
</html>